<div class="row container mt-4">
  <section class="col-3">
    <h2>Busquedas:</h2>
    <hr />
    <ul class="list-group">
      <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item"
      >
        Por Pais
      </li>
      <li routerLink="region" routerLinkActive="active" class="list-group-item">
        Por Region
      </li>
      <li
        routerLink="capital"
        routerLinkActive="active"
        class="list-group-item"
      >
        Por Capital
      </li>
    </ul>
  </section>

  <section class="col">
    <h2>Por Capital</h2>
    <hr />
    <router-outlet></router-outlet>
  </section>
</div>
